.ToolBar {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    background-color: #333;
    color: #d3d3d3;
    line-height: 40px;
    vertical-align: middle;
    text-overflow: ellipsis;
    border-top: 1px solid #222;
}

.ToolBar__button {
    font-size: 16px;
    cursor: pointer;
    padding: 0 15px;
    border-right: 1px solid #222;
}

.ToolBar__button:hover {
    background-color: #444;
}

.ToolBar__title {
    width: 130px;
    cursor: pointer;
    padding: 0 15px;
    position: relative;
    border-right: 1px solid #222;
    border-left: 1px solid #222;
}

.ToolBar__title + .ToolBar__title {
    border-left: none;
}

.ToolBar__title:hover {
    background-color: #444;
}

.ToolBar__title--selected {
    background-color: #222;
}

.ToolBar__title__close {
    position: absolute;
    padding: 0 15px;
    cursor: pointer;
    font-size: 18px;
    right: 0;
    top: -1px;
    bottom: -1px;
}

.ToolBar__title__close:hover {
    background-color: #111;
}