html{
  background-color:#333;
  color:#8c8c8c;
  font:12px Helvetica Neue,Helvetica,Arial,sans-serif
  }
body {
  margin: 0;
  padding: 0;
}

.view-extension {
  height: calc(100vh - 40px);
}

#root {
  position: relative;
  height: 100%;
}